<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kutuphane.Properties.Settings.kutuphanedbConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=kutuphanedb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
       
    </connectionStrings>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>

</configuration>